
p {
  font-weight: normal;
}

li {
  font-weigth: normal;
}

body {
  width: 1050px;
  margin: 0 auto;
  background-color: #fff9ec; /* warm tan-white color */

  font-family: "Helvetica", "Arial", sans-serif;
  color: #3c4253; /* a nice dark bluish grey */
}

div {
  margin: 0 auto;
  border: 2px solid #3c4253; /* a nice dark bluish grey */
  border-radius: 5px;
  width: 900px;
}
