
p {
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}



li {
  font-weight: normal;
  margin: 0.3em auto;
}

body {
  width: 1050px;
  margin: 0px auto;
  background-color: #fff9ec; /* warm tan-white color */

  font-family: "Helvetica", "Arial", sans-serif;
  color: #3c4253; /* a nice dark bluish grey */
  text-align: justify;
}

.page {/* Draws boxes around the text */
  margin: 30px auto;
  border: 2px solid #3c4253; /* a nice dark bluish grey */
  border-radius: 5px;
  width: 950px;
}

.gap {/* Is used to put some space at the bottom of the page */
  margin: 150px auto;

  width: 950px;
}

#contact{/* This centers the paragraphs under contacts */
    font-weight: normal;
    margin: 20px auto;
    text-align: left;
}
.contact li a {
  display: contents;
  text-align: justify;
  padding: 0;
  text-decoration: none;
  margin: 0.3em auto;
}

/* Below is where links' colors are altered */

.contact li a:link {
  color: #006e28;
  text-decoration: none;
}
.contact li a:visited {
  color: #522186;
}
.contact li a:hover {
  color: #3daee9;
  text-decoration: underline;
}
.contact li a:active {
  color: #76eff3;
}
.contact li a:visited:hover {
  color: #3daee9;
}
.contact li a:visited:active {
  color: #76eff3;
}

/* Navigation Bar*/

.navbarMenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  margin: auto;
  border: 2px solid #3c4253; /* a nice dark bluish grey */
  border-radius: 5px;
}

.navbarItem {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  padding: 4px;

  float: left;
}

li a {
  display: block;
  color: #3c4253; /* a nice dark bluish grey */
  text-align: center;
  padding: 4px 1em;
  text-decoration: none;
}

li a:hover {
  background-color: #3c4253; /* a nice dark bluish grey */

  border-radius: 5px;
}
li a:link {
  color: #3c4253; /* a nice dark bluish grey */
  text-decoration: none;
}
li a:visited {
  color: #3c4253; /* a nice dark bluish grey */
}
li a:hover {
  color: #fff9ec;
  text-decoration: none;
}
li a:active {
  color: #76eff3;
}
li a:visited:hover {
  color: #fff9ec; /* a nice dark bluish grey */
}
li a:visited:active {
  color: #76eff3; 
}
